<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>

<div class="container">
    <div th:replace="~{base :: titulo('Adicionar Receita')}"></div>
    <div class="card mt-5">
        <form th:object="${cupCakeDTO}" th:action="@{/receita/novo}" class="card-body" method="post">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input name="nome" class="form-control" placeholder="Nome"/>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input name="descricao" class="form-control" placeholder="Descrição"/>
            </div>

            <div class="form-group">
                <label for="tempoPreparo">Tempo de Preparo em minutos</label>
                <input name="tempoPreparo" class="form-control" placeholder="Tempo de Preparo"/>
            </div>

            <div class="form-group">
                <label for="igredientes">Igredientes</label>
                <textarea name="igredientes" class="form-control" placeholder="Igredientes"></textarea>
            </div>

            <div class="form-group">
                <label for="modoPreparo">Modo de Preparo</label>
                <textarea name="modoPreparo" class="form-control" placeholder="Modo de preparo"></textarea>
            </div>

            <div class="form-group">
                <label for="urlImagem">Url Imagem</label>
                <input name="url"  class="form-control" placeholder="Url Imagem"/>
            </div>

            <button class="btn btn-primary" type="submit">Adicionar</button>
        </form>
    </div>
</div>
</body>
</html>