<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>

<div class="container">
    <div th:replace="~{base :: titulo('Adicionar Receita')}"></div>
    <div class="card mt-5">
        <form th:object="${cupCakeDTO}" th:action="@{/receita/novo}" class="card-body" method="post">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input name="nome" th:field="*{nome}" th:errorclass="is-invalid" class="form-control" placeholder="Nome"
                       maxlength="30"/>
                <div class="invalid-feedback" th:errors="*{nome}"></div>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input name="descricao" th:field="*{descricao}" th:errorclass="is-invalid" class="form-control"
                       placeholder="Descrição" maxlength="255"/>
                <div class="invalid-feedback" th:errors="*{descricao}"></div>
            </div>

            <div class="form-group">
                <label for="tempoPreparo">Tempo de Preparo em minutos</label>
                <input name="tempoPreparo" th:field="*{tempoPreparo}" th:errorclass="is-invalid" class="form-control"
                       placeholder="Tempo de Preparo"/>
                <div class="invalid-feedback" th:errors="*{tempoPreparo}"></div>
            </div>

            <div class="form-group">
                <label for="igredientes">Igredientes</label>
                <textarea name="igredientes" th:field="*{igredientes}" th:errorclass="is-invalid" class="form-control"
                          placeholder="Igredientes" maxlength="500"></textarea>
                <div class="invalid-feedback" th:errors="*{igredientes}"></div>
            </div>

            <div class="form-group">
                <label for="modoPreparo">Modo de Preparo</label>
                <textarea name="modoPreparo" th:field="*{modoPreparo}" th:errorclass="is-invalid" class="form-control"
                          placeholder="Modo de preparo" maxlength="1000"></textarea>
                <div class="invalid-feedback" th:errors="*{modoPreparo}"></div>
            </div>

            <div class="form-group">
                <label for="urlImagem">Url Imagem</label>
                <input name="url" th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control"
                       placeholder="Url Imagem" maxlength="255"/>
                <div class="invalid-feedback" th:errors="*{urlImagem}"></div>
            </div>

            <button class="btn btn-primary" type="submit">Adicionar</button>
        </form>
    </div>
</div>
</body>
</html>