<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>

<div class="container">
    <div th:replace="~{base :: titulo('Adicionar Cartão')}"></div>

    <div class="card">
        <form th:object="${cartaoDTO}" th:action="@{/usuario/cartao/novo}" class="card-body" method="post">
            <div class="form-row">
                <div class="col">
                    <label for="numeroCartao">Número do Cartão</label>
                    <input name="numeroCartao" class="form-control" placeholder="Número do Cartão"/>
                </div>

                <div class="col">
                    <label for="nomeCartao">Nome no cartão</label>
                    <input name="nomeCartao" class="form-control" placeholder="Nome no Cartao"/>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="mes">Mês</label>
                    <input name="mes" class="form-control" placeholder="MM"/>
                </div>

                <div class="col">
                    <label for="ano">Ano</label>
                    <input name="ano" class="form-control" placeholder="YY"></textarea>
                </div>
                <div class="col">
                    <label for="codigoSeguranca">Código de Segurança (CVV)</label>
                    <input name="codigoSeguranca" class="form-control" placeholder="Código de Segurança (CVV)"></input>
                </div>
            </div>

            <button class="btn btn-primary mt-3" type="submit">Cadastrar</button>
        </form>
    </div>
</div>
</body>
</html>