<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>

<div class="container" style="width: 500px">

  <button class="btn btn-dark btn-lg btn-block mt-5" type="submit">Assinaturas</button>
  <button class="btn btn-dark btn-lg btn-block" type="submit">Histório de pedidos</button>
  <button class="btn btn-dark btn-lg btn-block" type="submit">Favoritos</button>
  <button class="btn btn-dark btn-lg btn-block" type="submit">Doaçoes</button>
  <button class="btn btn-dark btn-lg btn-block" type="submit">Adicionar Receitas</button>

</div>

</body>
</html>