<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>

<div th:replace="~{base :: logo}"></div>

<div class="container">

    <div class="card mt-5">
        <form th:object="${usuarioDTO}" th:action="@{/cadastrar}" method="POST" class="card-body">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input th:field="*{nome}" class="form-control" placeholder="Nome"/>
            </div>

            <div class="form-group">
                <label for="sobrenome">Sobrenome</label>
                <input th:field="*{sobrenome}" class="form-control" placeholder="Sobrenome"/>
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input th:field="*{email}" class="form-control" placeholder="E-mail"/>
            </div>

            <div class="form-group">
                <label for="cpf">CPF</label>
                <input th:field="*{cpf}" class="form-control" placeholder="cpf"/>
            </div>

            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" th:field="*{senha}" class="form-control" placeholder="Senha"/>
            </div>

            <div class="form-group">
                <label for="dataNascimento">Data de Nascimento</label>
                <input th:field="*{dataNascimento}" class="form-control" placeholder="Data de Nascimento"/>
            </div>

            <div class="form-group">
                <label for="estado">Estado</label>
                <input th:field="*{estado}" class="form-control" placeholder="Estado"/>
            </div>

            <div class="form-group">
                <label for="cidade">Cidade</label>
                <input th:field="*{cidade}" class="form-control" placeholder="Cidade"/>
            </div>

            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input th:field="*{endereco}" class="form-control" placeholder="Endereço"/>
            </div>

            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div>
</div>
</body>
</html>