<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="containerLogin">
    <h2>Entrar</h2>
    <label class="labelLogin" style="text-align: center">Entre para continuar</label>
    <form method="POST">
        <label class="labelLogin" for="email">E-MAIL:</label>
        <input type="email" id="email" name="email" placeholder="email@email.com" required>

        <label class="labelLogin" for="password">SENHA:</label>
        <input type="password" id="password" name="password" placeholder="******" required>

        <button class="botaoLogin" type="submit">Entrar</button>

        <br>
        <a class="link">Esqueceu sua senha?</a>
        <br>
        <a class="link">Cadastrar</a>
    </form>
</div>
</body>
</html>