<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>

<div class="container">
    <div class="card mt-5">
        <card class="card-body">
            <img th:src="${cupCake.urlImagem}" height="200" width="200"/>

            <h5>Nome</h5>
            <p th:text="${cupCake.nome}"></p>

            <h5>Descrição</h5>
            <p th:text="${cupCake.descricao}"></p>

            <h5>Tempo de Preparo em minutos</h5>
            <p th:text="${cupCake.tempoPreparo}"></p>

            <h5>Ingredientes</h5>
            <p th:text="${cupCake.igredientes}"></p>

            <h5>Modo de Preparo:</h5>
            <p th:text="${cupCake.modoPreparo}"></p>

            <a th:if="${!isFavorito}" th:href="@{/receita/favoritar/{id}(id=${cupCake.id})}" class="btn btn-danger">Favoritar</a>
            <a th:if="${isFavorito}" th:href="@{/receita/favoritar/{id}(id=${cupCake.id})}" class="btn btn-danger">Desfavoritar</a>
        </card>
    </div>
</div>

</body>
</html>